.about_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('/images/icons/soft-window.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
    width: 750px;
}

.close_button {
    width: 720px;
    height: 60px;
  }
  
  .close_button button {
    width: 30px;
    margin-top: 5px;
    margin-left: 690px;
    padding: 10px;
    height: 28px;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
  }

.about_text {
    width: 520px;
    height: 400px;
    border-bottom: 20px solid white;
    overflow-y: auto;
}