.contact_container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    /* justify-content: center; */
    background-image: url('/images/icons/soft-window.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 750px;
}

.close_button {
    width: 675px;
    height: 60px;
  }
  
  .close_button button {
    width: 30px;
    margin-top: 5px;
    margin-left: 640px;
    padding: 10px;
    height: 28px;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
  }

.icon_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 420px;
}

.icon_container img {
    width: 50px;
}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
}