.window_container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 660px;
}

.project_container {
    display: flex;
}

.project_info {
  display: flex;
  flex-direction: column;
  height: 70%;
  gap: 15px;
  width: 450px;
  font-size: 14px;
}

.projects_icon{
    height: 50px;
}

.topics_container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 70%;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.all_projects{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90px;
    gap: 10px; 
    cursor: pointer;
}

.help_icon {
    height: 50px;
}

.todo_icon {
    height: 50px;
}

.weblinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.github_logo {
    height: 30px;
    width: 30px;
}

.internet_logo {
    height: 30px;
    width: 30px;
}

.help_icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    border-radius: 5px;
    gap: 5px;
    width: 200px;
}

.hover_container {
    position: relative;
  }
  
  .hover_target {
    position: relative;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 80px;
    align-items: center;
    justify-content: center;
  }
  
  .hover_popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 70%;
    left: 5%;
    width: 50ch;
    margin: min(1rem, 20px);
    font-size: .8rem;
    background-color: white;
    border-radius: 8px;
    padding: 1.5em;
    z-index: 42;
    transform: scale(0);
    transition: transform 200ms ease;
    transform-origin: 8% -10px;
    border: 1px solid black;
  }

  .hover_target:hover{
    text-decoration: underline;
  }
  
  .hover_target:hover + .hover_popup,
  .hover_target:focus + .hover_popup,
  .hover_popup:hover{
    transform: scale(1);
  }
  
  .hover_popup :not(:first-child) {
    margin-top: 1rem;
  }
  
  .hover_popup span {
    color: rgb(200, 20, 0);
    font-weight: 700;
  }
  
  .hover_popup::before {
  /* This is the triangle/arrow */
    content: '';
    position: absolute;
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 10px solid #fff;
    top: -10px;
  }
  
  .hover_popup::after {
    /* This is merely here to expand the hoverable area, as a buffer between the "Hover me" text and the popup. */
    content: '';
    position: absolute;
    top: -1rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }